---
import Building from '../icons/Building.astro'
import Envelope from '../icons/Envelope.astro'
import Phone from '../icons/Phone.astro'
---

<article class="p-4">
	<div class="mb-5">
		<span
			class="mb-2 flex gap-2 text-2xl font-semibold text-secondary-original"
		>
			<Building />
			Servitec Multimedia & Interactiva
		</span>
		<p class="text-sm">
			Ca. Nestor Bermudez 113, Esquina con Av. Fernando Teran, Chorrillos - Lima
		</p>
	</div>
	<div class="mb-5">
		<span
			class="mb-2 flex gap-2 text-2xl font-semibold text-secondary-original"
		>
			<Envelope />
			contactos@servitecperu.com
		</span>
		<p class="text-sm">contactos@servitecperu.com</p>
	</div>
	<div class="mb-5">
		<span
			class="mb-2 flex gap-2 text-2xl font-semibold text-secondary-original"
		>
			<Phone />
			+51 916796808
		</span>
		<p class="text-sm">+51 916796808</p>
	</div>
</article>
