---
import InputField from '../ui/InputField.astro'
import Title from '../ui/Title.astro'
import Textarea from '../ui/Textarea.astro'
import ContactInformation from './ContactInformation.astro'
import { FormContact } from '../ui/FormContact.tsx'
---

<section class="p-4" id="contact">
	<Title>Solicita información</Title>

	<div class="my-5 flex flex-wrap items-start justify-center gap-4">
		<ContactInformation />
	</div>
</section>
