---
import Card from '../ui/Card.astro'
import CardProduct from '../ui/CardProduct.astro'
---

<section class="p-4">
	<h3 class="my-5 text-center text-5xl font-bold text-secondary-original">
		Productos Destacados
	</h3>

	<div>
		<h4 class="text-2xl font-semibold text-secondary-original">
			Proyectores Láser
		</h4>
		<ul>
			<!-- <CardProduct
				imgUrl="/images/projectors/PROY-OPZ41W.webp"
				title="Proyector Láser Optoma-USA | OPZ41W |4100 LUMENES | Resolución WXGA (1280 X 800 px)"
			/>
			<CardProduct
				imgUrl="/images/projectors/PROY-OPZ41W.webp"
				title="Proyector Láser Optoma-USA | OPZ41W |4100 LUMENES | Resolución WXGA (1280 X 800 px)"
			/>
			<CardProduct
				imgUrl="/images/projectors/PROY-OPZ41W.webp"
				title="Proyector Láser Optoma-USA | OPZ41W |4100 LUMENES | Resolución WXGA (1280 X 800 px)"
			/> -->
		</ul>
	</div>
</section>
