---
import Bars from '../components/icons/Bars.astro'
---

<!-- drawer init and toggle -->
<div class="lg:hidden">
	<button
		class="rounded-md bg-primary-original p-2 lg:hidden"
		type="button"
		data-drawer-target="drawer-right-example"
		data-drawer-show="drawer-right-example"
		data-drawer-placement="right"
		aria-controls="drawer-right-example"
	>
		<Bars class="fill-white" />
	</button>
</div>

<!-- drawer component -->
<div
	id="drawer-right-example"
	class="fixed right-0 top-0 z-40 h-screen w-80 translate-x-full
	overflow-y-auto bg-white p-4 transition-transform dark:bg-gray-800"
	tabindex="-1"
	aria-labelledby="drawer-right-label"
>
	<button
		type="button"
		data-drawer-hide="drawer-right-example"
		aria-controls="drawer-right-example"
		class="absolute end-2.5 top-2.5 inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
	>
		<svg
			class="h-3 w-3"
			aria-hidden="true"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 14 14"
		>
			<path
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
		</svg>
		<span class="sr-only">Close menu</span>
	</button>

	<ul class="ga mt-6 flex flex-col gap-4">
		<a href="/" class="text-xl font-bold uppercase text-primary-original"
			>Inicio
		</a>

		<a href="/" class="text-xl font-bold uppercase text-primary-original"
			>Producto
		</a>
		<a href="/" class="text-xl font-bold uppercase text-primary-original"
			>Contacto
		</a>
	</ul>
</div>
