---
import Drawer from './Drawer.astro'
import ItemNavbarDesktop from './ItemNavbarDesktop.astro'
---

<header class="bg-white p-3 shadow-md">
	<div
		class="justify-betweenflex m-auto flex max-w-screen-2xl items-center justify-between"
	>
		<a href="/">
			<img
				src="/images/logo.webp"
				alt="logo servitec"
				class="w-48 animate-fade animate-duration-1000 lg:w-60"
			/>
		</a>

		<Drawer />

		<nav class="hidden items-center gap-6 lg:flex">
			<ItemNavbarDesktop link="/" text="Inicio" />
			<ItemNavbarDesktop link="#products" text="Productos" />
			<ItemNavbarDesktop link="#contact" text="Contacto" />
		</nav>
	</div>
</header>
