<div>
	<label for="message" class="mb-2 block text-sm font-medium text-white"
		>Mensaje</label
	>
	<textarea
		id="message"
		name="message"
		rows="4"
		class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-secondary-original focus:ring-secondary-original dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-secondary-original dark:focus:ring-secondary-original"
		placeholder="Escribe tu mensaje..."></textarea>
</div>
